:css
  .news {display:inline-block; width:340px;}

%table(style='width:701px')
  %tr
    %td
      - @posts.each do |p|
        .news
        - pp= pic_location(p.pic)
          = image_tag pp unless pp.empty?
          %br
          %strong= p.subject
          %br
          = p.body
