:css
  .para { text-indent: 50px;}

%h4(style="text-align:center;")
  ประวัติความเป็นมา
.para ตำบลบางตะไนย์เป็นตำบลที่มีคนมอญเข้ามาอยู่อาศัยกันอย่างหนาแน่น |
ตั้งแต่สมัยอยุธยาตอนปลาย ได้กระจาย อยู่ที่ตำบล บางคูวัด ที่วัดเกาะเกรียง |
วัดบางตะไนย์ อำเภอเมือง จังหวัดปทุมธานี ติดต่อกันมาตามริมแม่น้ำเจ้าพระยา |
ถึงตำบลบางตะไนย์ อำเภอปากเกร็ด จังหวัดนนทบุรี ชุมชนนี้ได้ร้างไปเหมือนชุมชนอื่นๆ |
ในอำเภอปากเกร็ด เมื่อครั้งเสียกรุงศรีอยุธยา พ.ศ. 2310 ครั้นถึงสมัยธนบุรี |
สมเด็จพระเจ้าตากสินมหาราช โปรดเกล้าฯ ให้คนมอญมาอยู่ที่ บางตะไนย์นี้อีกครั้งหนึ่ง |
ใน พ.ศ.2365 มีคน มอญที่เจ้าพระยามหาโยธา (ทอเรี่ยะ) ได้ไปรับครอบครัวมอญจาก |
เมืองมอญมาพึ่งพระบรมโพธิสมภาร พระบาทสมเด็จ พระนั่งเกล้าเจ้าอยู่หัว โปรดเกล้าฯ |
ให้มาอยู่ที่บางตะไนย์ บางพูด คลองบ้านแหลมใหญ่ และได้อยู่ที่นี่ต่อเนื่องกันมา จนถึง ปัจจุบันนี้ |
%br
.para พื้นที่บางตะไนย์นี้แต่เดิมมีต้นข่อยขึ้นอยู่อย่างหนาแน่น |
ต้นข่อยมีติดต่อกันมากเป็นบริเวณกว้างจนถึงตำบลคลองข่อย อำเภอปากเกร็ด จังหวัดนนทบุรี |
และ ตำบลบางคูวัด อำเภอเมือง จังหวัดปทุมธานี มอญเรียกต้นข่อยว่า "คะไน" |
เรียกหมู่บ้านว่า "กวานคะไน" เมื่อมีการจัดตั้งเป็นตำบลขึ้น |
จึงเรียกตามชื่อของหมู่บ้านที่คนมอญเรียกว่า บางคะไน |
และเพี้ยนเป็นเสียง ไทยว่า "บางตะไนย์" เป็น "ตำบลบางตะไนย์" |
พื้นที่ของบางตะไนย์ครอบคลุมไปถึงจังหวัดปทุมธานี ซึ่งมีเขตติดต่อกัน มีวัดบางตะไนย์ |
อยู่ในชุมชนบางตะไนย์ แต่เมื่อมีการแบ่งเขตการปกครองของจังหวัดนนทบุรีกับจังหวัดปทุมธานี |
โดยใช้คลองบางตะไนย์ เป็นแนวแบ่งเขต วัดบางตะไนย์ปัจจุบันจึงไปอยู่ในเขตจังหวัดปทุมธานี |
ส่วนตำบลบางตะไนย์ในเขตจังหวัดนนทบุรี ไม่มีวัดชื่อ บางตะไนย์ |
%br
.para อบต. บางตะไนย์ได้รับการจัดตั้งเป็นองค์การบริหารส่วนตําบล |
ตามพระราชบัญญัติสภาตําบลและองค์การบริหารส่วนตําบล พ.ศ. 2539 เมื่อวันที่ 30  |
มีนาคม 2539 |
%br
.map(style='text-align:center')= image_tag "bt9/map.jpg"