%h4(style='text-align:center;')
  กฏหมาย และระเบียบ ที่เกี่ยวข้องกับการปกครองส่วนท้องถิ่น

%ul
  %li
    %a(href="http://www.local.moi.go.th/tambon_update.pdf" target="_blank")
      พระราชบัญญัติสภาตำบลและองค์การบริหารส่วนตำบล พ.ศ.2537
  %li
    %a(href="http://www.local.moi.go.th/law11.htm" target="_blank")
      พระราชบัญญัติระเบียบบริหารราชการแผ่นดิน พ.ศ.2545
  %li
    %a(href="http://www.local.moi.go.th/law26.htm" target="_blank")
      พระราชบัญญัติความรับผิดชอบทางละเมิดของเจ้าหน้าที่ พ.ศ. 2539
  %li
    %a(href="http://www.local.moi.go.th/law6.htm" target="_blank")
      พรบ.ประกอบรัฐธรรมนูญว่าด้วยการป้องกันและปราบปรามทุจริต
  %li
    %a(href="http://www.local.moi.go.th/law12.htm" target="_blank")
      พระราชบัญญัติปรับปรุงกระทรวง ทบวง กรม พ.ศ.2545
  %li
    %a(href="http://www.local.moi.go.th/law27.htm" target="_blank")
      พระราชบัญญัติข้อมูลข่าวสาร พ.ศ. 2540
  %li
    %a(href="http://www.local.moi.go.th/law28.pdf" target="_blank")
      ระเบียบว่าด้วยการรักษาความลับทางราชการ พ.ศ. 2544
  %li
    %a(href="http://www.local.moi.go.th/goodgov..pdf" target="_blank")
      พระราชกฤษฎีกาว่าด้วยหลักเกณฑ์และวิธีการบริหารกิจการบ้านเมืองที่ดี
  %li
    %a(href="http://www.local.moi.go.th/law57.pdf" target="_blank")
      ระเบียบวิธีการงบประมาณขององค์กรปกครองส่วนท้องถิ่น
  %li
    %a(href="http://www.local.moi.go.th/law29.htm" target="_blank")
      พรบ.แผน และขั้นตอนกระจายอำนาจให้องค์กรปกครองส่วนท้องถิ่น
  %li
    %a(href="http://www.local.moi.go.th/law13.htm" target="_blank")
      พระราชบัญญัติวิธีปฏิบัติราชการทางปกครอง พ.ศ.2539
